/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-t: #333639;
    --bg-a: #fff;
    --bg-bo: #424242;

    --bg-app: #142d4385;
}

#app {
    border-color: var(--bg-a);
    background-color: var(--bg-app);
}

.v-md-editor,
.v-md-textarea-editor>textarea,
.v-md-editor__toolbar-item--active,
.v-md-editor__toolbar-item--active:hover {
    background-color: var(--bg-a) !important;
}

.v-md-pre-wrapper {
    background-color: var(--bg-a) !important;
    border: 1px solid;
}

.v-md-textarea-editor>textarea {
    color: var(--bg-t) !important;
}


header {
    background-color: var(--bg-a);
    backdrop-filter: blur(10px);
}

footer {
    position: relative;
    background-color: var(--bg-a);
}

footer:before {
    content: ' ';
    background: url(assets/footer.png) no-repeat center;
    height: 368px;
    width: 100%;
    display: block;
    position: absolute;
    top: -294px;
    left: 0;
    z-index: 0;
    pointer-events: none;
}